var webpack = require('webpack')
var path = require('path')

module.exports = {
  entry: {
      app: './src/app.js',
      vendor: ['react']
  },
  output: {
    path: path.join(__dirname, 'build'),
    filename: '[name].bundle.js',
  },
  module: {
    loaders: [
      {
        test: /\.(js|jsx)$/,
        exclude: /node_modules/,
        // this was the last thing that got me
        loader: 'babel-loader',
        query: {
            presets: ['es2015', 'react']
        }
      },
    ],
  },
  plugins: [
    // vvv this guy.
    new webpack.optimize.CommonsChunkPlugin('vendor', 'vendor.bundle.js'),
    // new webpack.DefinePlugin({
    //   'process.env': { NODE_ENV: JSON.stringify(process.env.NODE_ENV || 'development') }
    // })
  ],
}
